{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ action }} категорию</h2>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{{ action }}</button>
                <a href="{% url 'category_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %} 