ЛР 1 HTML
В разработанный в весеннем семестре проект (см. “Лабораторная работа 5 Django” ПО ИГИ ) добавить следующие страницы и
выполнить необходимые изменения для их отображения:
Главная: Логотип компании, реклама компании в виде баннера (подготовить несколько картинок), каталог услуг/ товаров/ продуктов
и т.д., наименование и краткая информация о последней опубликованной статье (статьи должны быть в базе данных), список
компаний партнеров + их логотипы со ссылками на сайты компаний – выбрать произвольно и добавить таблицу в базу данных
Страница товара/услуги/продукта – открывается при нажатии на соответствующий объект и содержит инфо об объекте и
значок «Добавить в корзину»
Страница корзины заказа – содержит список добавленных объектов и значки «Оплатить», «Удалить из корзины»,
«Увеличить/уменьшить количество товаров»
Страница оплаты товаров.
О компании(таблица в базе данных): информация о компании, видео, логотип, история по годам, реквизиты, сертификат (пока
только текст без оформления стилями)
Пример сертификата:

Новости(таблица в базе данных): список статей в соответствии с тематикой сайта с заголовком, кратким содержанием (одно
предложение), картинкой и кнопкой «Читать далее» при нажатии на которую открывается вся статья
Словарь терминов и понятий(таблица в базе данных): список часто-задаваемых вопросов с датой добавления на сайт, при
нажатии на которые открывается развернутый ответ
Контакты(таблица в базе данных): Фото сотрудников с описанием выполняемых работ, телефонами, почтой и т.д.
Политика конфиденциальности: в соответствии с тематикой разработанного сайта
Вакансии(таблица в базе данных): список вакансий с описанием
Отзывы(таблица в базе данных): список отзывов с указанием имени(логин оставившего отзыв), оценки, текста, даты. Кнопка
добавить отзыв с переходом к окну регистрации или в личный кабинет залогиненного пользователя. При нажатии кнопки открытие
формы с полем для текста отзыва и выбора оценки, кнопкой «Отправить», которая сохраняет отзыв в базе.
Промокоды и купоны(таблица в базе данных): список промокодов действующих и в архиве.

Использовать
− микро и мета данные (для использования в поисковых системах)
https://developer.mozilla.org/ru/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML ,
− иконку сайта,
− сематическую верстку https://developer.mozilla.org/ru/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure ,
https://www.w3schools.com/html/html5_semantic_elements.asp
− семантическое выделение текста,
− глобальные атрибуты,
− пример листинга, сокращений, определений, цитат, дата-время, текст в виде четверостишия с фиксированным и
потенциальным переводом строки, ссылки (разного вида, в том числе и для скачивания документа), якоря, контейнерные
элементы, списки, фигуры, навигация горизонтальная и вертикальная, также должна быть и таблица с заголовочными
ячейками, заполненная цифровыми и текстовыми данными, объединенными ячейками, атрибутом headers(не использовать
для верстки, только для данных), формы, элементы управления (включая разные виды input, выпадающие списки, контейнеры,
кнопки и т.д., а также их валидацию), iframe, изображения (плюс за адаптивные), элементы для отображения видео и
прослушивания аудио информации.
Предоставить при защите результаты проверки на валидацию сайта и семантической верстки.
Для заполнения использовать генераторы текста и картинок.
Для обеспечения единообразного стиля сайта использовать базовый шаблон ( для справки https://metanit.com/python/django/2.6.php ,
https://developer.mozilla.org/ru/docs/Learn/Server-side/Django/Home_page )

